@import 'react-image-gallery/styles/css/image-gallery.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --bg: [#15141c];
    --text-clr: white;
  }
}
/* bgColor For dark #15141c  */
/* bgColor For dark in the Card #322e3f  */
/* bgColor for dark for small font is text-gray-300  */
.Links {
  @apply text-blue-700 hover:text-[#c95531] hover:underline;
}

.NeedHelpLinks {
  @apply text-blue-700 hover:text-[#c95531] hover:underline block mt-2;
}

.btn {
  @apply w-full my-4 text-black duration-200 bg-yellow-400 rounded-md hover:bg-yellow-500;
}

.ModalInput {
  @apply shadow-md bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500  block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600  dark:text-white ;
}

@layer base {
  button {
    @apply px-5 py-1 border border-black rounded-xl;
  }
}

.react-rater-star.is-active-half:before {
  color: var(--gold) !important;
}

.react-rater-star.is-active {
  color: var(--gold) !important;
}